@import "../styles/mixins";
@import "../styles/variables";

.distance {
    margin: 8px 0;
}

.errorWrapper {
    position: relative;
}

.validation_error {
    margin: 0;
    @include fontOpenSans();
    font-size: 12px;
    line-height: 100%;
    color: $formErrorColor;
    position: absolute;
}